# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objectives:**
* Popular languages used in Data Science are Python, R-Programming, Julia, etc.
* Popular libraries used in Data Scinece are Numpy, Matplotlib, Pandas, etc.
* Common Data Science tools are RStudio, Jupyter Notebook, etc.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by data scientists include:
1. Pandas
2. Matplotlib
3. Numpy

|Data Science Tools|
|------------------|
|RStudio        |
|VS Code        |
|Jupyter Noteook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [20]:
#  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Muhammad Uzair